body::-webkit-scrollbar{
  display: none;
}

body{
  display: flex;
  padding: 0 1rem 5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  background: #0F0F0F;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  margin: 0px;
  gap: 1.5rem;
}
